.Dummy {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Dummy .content {
  width: 500px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Use margin to create spacing between child elements */
.Dummy .content > * {
  margin-bottom: 10px;
}

/* Optional: Remove margin from the last child to avoid extra spacing */
.Dummy .content > :last-child {
  margin-bottom: 0;
}

.Dummy .content p {
  font-size: 1.2rem;
}

.Dummy .content ul li {
  transform: translateX(20px);
}
.Dummy .content ul li a {
  color: blueviolet;
  font-style: italic;
}

.Dummy .content p span {
  font-weight: 600;
}

@media only screen and (max-width: 720px) {
  .Dummy .content {
    width: 90%;
  }
}
