.Terms {
  width: 100%;
  display: flex;
  /* Use margin to create spacing between child elements */
  margin-bottom: -3vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Use margin to create spacing between child elements */
.Terms > * {
  margin-right: 3vh;
}

/* Optional: Remove margin from the last child to avoid extra spacing */
.Terms > :last-child {
  margin-right: 0;
}

.termsCont {
  /* padding-bottom: 5vh; */
  width: 100%;
}

.Terms h1 {
  text-align: center;
  color: var(--white);
  font-weight: 600;
  /* padding-bottom: 5vh; */
}

.buttonCont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Terms button {
  width: fit-content;
  padding: 16px 40px;
  background-color: var(--green);
  font-weight: 600;
  color: var(--white);
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 25px;
  margin: 3vh auto;
}

.Terms .content {
  width: 800px;
  background-color: var(--white);
  padding: 40px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  margin: 0 auto;
}

/* Use margin to create spacing between child elements */
.Terms .content > * {
  margin-bottom: 20px;
}

/* Optional: Remove margin from the last child to avoid extra spacing */
.Terms .content > :last-child {
  margin-bottom: 0;
}

.Terms .content p {
  text-align: center;
  line-height: 1.4rem;
}

.Terms .content p span {
  font-weight: 600;
}

@media only screen and (max-width: 1024px) {
  /* Your CSS styles for tablets */
  .Terms .content {
    width: 90%;
  }
}

@media only screen and (max-width: 720px) {
  .Terms .content {
    padding: 20px 30px;
  }
}
